#pexelsThumbnail {
    width: 156rem;
    height: 156rem;
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    #pexelsThumbnail {
        width: 7rem;
        height: 7rem;
    }
}

/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {
    #pexelsThumbnail {
        width: 14rem;
        height: 14rem;
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {
    #pexelsThumbnail {
        width: 16rem;
        height: 16rem;
    }
}
