body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0724/1505/2001/files/starrysky.gif?v=1728530345');
    background-repeat: repeat;
    background-size: auto;
}

#pinkClouds {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pexelsThumbnailContainer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    padding: 10px;


    -webkit-box-shadow: 0px 0px 17px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 17px 1px rgba(255,255,255,1);
}


#pexelsThumbnail {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    border-radius: 25px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}