body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0724/1505/2001/files/starrysky.gif?v=1728530345');
    background-repeat: repeat;
    background-size: auto;
}




#pinkBarBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background: #ffcfff;
    border-top: solid 1px white;
}
    
/* pexelsThumbnail */
#pexelsThumbnailContainer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    margin: 10px;
    padding: 0px;
    border-radius: 17px;

    -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}


#pexelsThumbnail {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    border-radius: 17px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}

/* typewriter */
#typedtext {

    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 60%;
    /*max-height: 87px;*/
    margin:10px;
    padding: 2px 4px 2px 6px;
    
    background-color: white;
    font-family: "Schoolbell", monospace;
    font-size: 12px; 
    letter-spacing: 2px; 
    border: solid 1px black;
    border-radius: 10px 10px 0px 10px;

}


/* gifs */
#merch {
    position: fixed;
    left: 0px;
    bottom: 285px;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}

#youtube {
    position: fixed;
    left: 0;
    bottom: 230px;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}

#emailUs {
    position: fixed;
    left: 0;
    bottom: 170px;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}


#iLoveCoffe {
    position: fixed;
    left: 0;
    bottom: 120px;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}